/* header */
@font-face {
    font-family: "nexon bold";
    font-style: normal;
    font-weight: 400;
    src: url("../font/nexon_bold.eot");
    src: url("../font/nexon_bold.eot?#iefix") format("embedded-opentype"), url("../font/nexon_bold.woff") format("woff"), url("../font/nexon_bold.ttf") format("truetype");
}
@font-face {
    font-family: "nexon gothic";
    font-style: normal;
    font-weight: 400;
    src: url("../font/nexon_goithic.eot");
    src: url("../font/nexon_goithic.eot?#iefix") format("embedded-opentype"), url("../font/nexon_goithic.woff") format("woff"), url("../font/nexon_goithic.ttf") format("truetype");
}

@font-face {
    src : url("font/윤고딕320.ttf");
    font-style: normal;
    font-family: "yoon gothic"; 
}

a,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
code,
dd,
details,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
label,
legend,
li,
main,
menu,
nav,
object,
ol,
p,
pre,
section,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
u,
ul,
video {
    margin: 0;
    padding: 0;
}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

/* button태그에 손모양 커서 */
button {
    cursor: pointer;
}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,
img {
    border: 0;
    vertical-align: top;
}
/* 리스트 기호 빼기 */
ol,
ul {
    list-style: none;
}
/* 태그 기본 기울임꼴 제거 */
address,
em {
    font-style: normal;
}
strong {
    font-weight: normal;
}
/* 페이지안에서 가장 많은 링크색 지정 */
a {
    text-decoration: none;
    color: #1c1c1c;
}
/* iframe으로 외부컨텐츠를 연결했을때
    외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
    */
iframe {
    overflow: hidden;
    border: 0;
}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
button,
input,
select,
textarea {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
/* textarea 리사이즈기능 빼기 */
textarea {
    resize: none;
}
/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
    모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지
    */
body {
    line-height: 1.5;
    -webkit-text-size-adjust: none;
}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
.blind,
caption,
legend {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: "nexon gothic", "MalgunGothic", "맑은 고딕", "nexon bold", "Apple SD Gothic Neo", "dotum", "돋움", Helvetica, sans-serif;
    font-size: 16px;
    color: #9fa1a7;
}
body,
html {
    height: auto;
}
body {
    letter-spacing: -0.05em;
}

body.on {
    overflow: hidden;
}

.active {
    color: #17191d;
}
/* 내용 크기만큼의 최소값을 입력하여 줄어들지 않게함
    줄어들경우 100%요소의 배경이나 선이 짤려보일수 있음 */

#wrap {
    min-width: 1440px;
}

#header {
    width: 100%;
    height: 62px;
    background: #fff;
    border-bottom: 1px solid #dde1e5;
    position: relative;
    z-index: 99;
}
#header .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#header .gnb_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 107px;
    height: 64px;
    /* background: gray; */
}

#header .gnb_left .btn_side_menu {
    display: block;
    padding: 20px 10px;
    text-align: right;
}

#header .gnb_left .btn_side_menu span {
    position: relative;
    padding: 0 20px 0 25px;
}
#header .gnb_left .btn_side_menu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #17191d url("../img/set_gnb.png") no-repeat;
    width: 18px;
    height: 16px;
}
#header .gnb_left .btn_side_menu span:hover {
    color: #0077ff;
    background-color: #0077ff url("../img/set_gnb.png") no-repeat;
}
#header .gnb_left .btn_side_menu span:hover:before {
    background-color: #0077ff;
}

#header .gnb_right {
    float: right;
    padding-right: 11px;
}

#header .gnb_right li {
    float: left;
    margin-right: 8px;
    line-height: 62px;
}
#header .gnb_right li a {
    padding: 0 22px;
    display: block;
}
#header .gnb_right li:hover a {
    color: #0077ff;
}

#header .gnb_right .pcbang span {
    padding-left: 4px;
    color: #9fa1a7;
    font-family: "nexon bold";
}

#header .gnb_right .login {
    border: 2px solid #17191d;
    border-radius: 19px;
    margin-top: 10px;
}
#header .gnb_right .login:hover {
    background: #0077ff;
}

#header .gnb_right .login:hover a {
    color: #fff;
}

#header .gnb_right .login a {
    font-family: "nexon bold";
    line-height: 38px;
}

/* footer */

#footer {
    clear: both;
    width: 100%;
    background-color: #222426;
}

#footer .footer_inner {
    padding: 23px 40px 0;
    border-bottom: 1px solid #393a3c;
}

#footer .sns {
    float: right;
}

#footer .sns li {
    float: left;
}
#footer .sns li a {
    color: #fff;
}

#footer .sns li a .sns_btn {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: #fff url("../img/footer/set_footer.png") no-repeat;
    background-position: 0 -50px;
    text-indent: -9999px;
    padding-right: 10px;
}
#footer .sns li a .twitter_btn {
    background-position: 0 -100px;
}
#footer .sns li a .facebook_btn {
    background-position: 0 -150px;
    padding-right: 0;
}

#footer .notice {
    padding-bottom: 25px;
}

#footer .notice a {
    color: #fff;
    font-size: 12px;
    background-color: #222426;
}

/* bottom_footer 영역 */
#footer .bottom_footer_inner {
    /* height: 150px; */
    background: #fff;
    padding: 20px 40px 0;
    background-color: #222426;
}

#footer .bottom_footer_inner .nav {
    float: left;
}

#footer .bottom_footer_inner .nav li {
    float: left;
    padding-right: 25px;
    position: relative;
}

#footer .bottom_footer_inner .nav li a {
    font-size: 12px;
    color: rgba(248, 249, 250, 0.7);
}

#footer .bottom_footer_inner .nav li:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 7px;
    width: 1px;
    height: 12px;
    background-color: hsla(0, 0%, 100%, 0.2);
}
#footer .bottom_footer_inner .nav li:last-child:after {
    display: none;
}

/* 랭귀지 리스트 */
#footer .bottom_footer_inner .language {
    float: right;
    position: relative;
}

#footer .bottom_footer_inner .language a {
    display: block;
    width: 120px;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    background: #393a3c;
    position: relative;
    transition: all 0.5s;
}
#footer .bottom_footer_inner .language a:hover {
    color: #0077ff;
}

#footer .bottom_footer_inner .language > a:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 5px;
    width: 18px;
    height: 18px;
    background: #fff url("../img/footer/set_footer.png") no-repeat;
    background-position: 0 -250px;
    transition: all 0.5s;
}
#footer .bottom_footer_inner .language > a:hover:after {
    background-color: #0077ff;
}

#footer .bottom_footer_inner .language .language_list {
    position: absolute;
    left: 0;
    bottom: 28px;
    width: 140px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

#footer .bottom_footer_inner .language .language_list.on {
    opacity: 1;
    visibility: visible;
}

#footer .bottom_footer_inner .language .language_list li a {
    background: #17191d;
}

#footer .bottom_footer_inner .language li a:hover {
    color: #0077ff;
}

#footer .bottom_footer_inner address {
    clear: both;
    padding-top: 10px;
    line-height: 18px;
}
#footer .bottom_footer_inner address span,
.copylight {
    font-size: 11px;
    color: rgba(248, 249, 250, 0.3);
}
#footer .bottom_footer_inner address a span {
    text-decoration: underline;
}

#footer .bottom_footer_inner .copylight {
    padding-bottom: 15px;
}

#footer .bottom_footer_inner > a .bottom_logo {
    display: block;
    text-indent: -9999px;
    background: url("../img/footer/set_footer.png") no-repeat;
    width: 68px;
    height: 23px;
    background-position: 0 0;
    padding-bottom: 50px;
    margin-top: 15px;
}

/* 콘텐츠 영역 */

#contents {
    width: 100%;
}



.img_bar {
    position: relative;
    background-color: #313131;
}

.back_img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

#contents .guide{
   width: 100%;
   height: 100%;
}

/* 카테고리 */
.category {
    width: 1240px;
    margin: 0 auto;

}

.guide ul {
    position: relative;
    padding: 30px 0 0 0;
}

.guide .category ul li {
    display: inline;
}

.guide ul li a{
    font-family: 'yoon gothic';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.visible_guide {
    color: #0077ff;
}


.guide ul li p {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #b6b6b6;
}

.guide hr {
    margin-top: 25px;
}

/* 전투 설명 */
.battle {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.battle .title {
    margin-top: 150px;
    margin-bottom: 50px;
}

.battle .title hr {
    width: 10%;
    height: 4px;
    background-color: #0077ff;
    margin: 10 auto;
}

.battle h2 {
    font-family: 'yoon gothic';
    font-size: 30px;
    font-weight: bold;
    color: #757575;
    text-align: center;
}

.battle .image img{
    width: 65%;
    height: 65%;
    border-radius: 2%;
    margin-bottom: 10px;
}


/* 설명 공통 */
.image {
    position: relative;
}

.icon_back {
    position: absolute;
    width: 65%;
    right: 12%;
}
.image .icon {
    position: absolute;
    right:  0;
    bottom: 0;
}

.icon_back .icon img {
    width: 100px;
    height: 100px;
}

.detail {
    width: 60%;
    text-align: left;
    margin: 0 auto;
}

.detail img {
    width: 25px;
    height: 25px;
}

.detail ul li p {
    font-size: 15px;
    font-family: 'yoon gothic';
    color: #757575;
}